<?php
return [
	//database
    'database.host'     => '{{getv "/marmot/dev/database/host"}}',
    'database.dbname'   => '{{getv "/marmot/dev/database/dbname"}}',
    'database.user'		=> '{{getv "/marmot/dev/database/user"}}',
    'database.passwod'	=> '{{getv "/marmot/dev/database/passwod"}}',
    'database.tablepre' => '{{getv "/marmot/dev/database/tablepre"}}',
    //mongo
    'mongo.host' => '{{getv "/marmot/dev/mongo/host"}}',
    //memcached
    'memcached.serevice'=>{{getv "/marmot/dev/memcached/serevice"}},
];
?>

