<?php
return [
	//database
    'database.host'     => '{{getv "/marmot/test/database/host"}}',
    'database.dbname'   => '{{getv "/marmot/test/database/dbname"}}',
    'database.user'		=> '{{getv "/marmot/test/database/user"}}',
    'database.passwod'	=> '{{getv "/marmot/test/database/passwod"}}',
    'database.tablepre' => '{{getv "/marmot/test/database/tablepre"}}',
    //memcached
    'memcached.serevice'=>{{getv "/marmot/test/memcached/serevice"}},
];